.favourite-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-name {
  font-size: 30px;
  color: rgb(214, 214, 214);
}

.add-card {
  font-size: 40px;
  height: 85px;
  width: 85px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(214, 214, 214);
  border: none;
}

.add-card:hover {
  color: #786fa6;
  cursor: pointer;
}