.form-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10%;
  margin-top: 5%;
  border-radius: 10px;
  text-align: left;
}